/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: hsl(230, 80%, 50%);
  --ifm-color-primary-dark: hsl(230, 80%, 45%);
  --ifm-color-primary-darker: hsl(230, 80%, 40%);
  --ifm-color-primary-darkest: hsl(230, 80%, 35%);
  --ifm-color-primary-light: hsl(230, 80%, 60%);
  --ifm-color-primary-lighter: hsl(230, 80%, 70%);
  --ifm-color-primary-lightest: hsl(230, 80%, 80%);
  
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.08);
}

[data-theme='dark'] {
  --ifm-color-primary: hsl(230, 80%, 70%);
  --ifm-color-primary-dark: hsl(230, 80%, 65%);
  --ifm-color-primary-darker: hsl(230, 80%, 60%);
  --ifm-color-primary-darkest: hsl(230, 80%, 55%);
  --ifm-color-primary-light: hsl(230, 80%, 75%);
  --ifm-color-primary-lighter: hsl(230, 80%, 80%);
  --ifm-color-primary-lightest: hsl(230, 80%, 85%);

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


.custom-search-wrapper {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.custom-search-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 6px;
  font-size: 16px;
}

.custom-search-results {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  border: 1px solid #ccc;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-search-results li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.custom-search-results li a:hover {
  background-color: #f0f0f0;
}

